<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Prevent direct access to public folder in URL
    RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
    RewriteRule ^ /%1 [L,NE,R=301]
    
    # Route all requests to the public folder
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>

